<h2>I AMA Homepage</h2>

<ul>
  <% @links.each do |link| %>
  	<li><%= link_to link.title, link.url %><br><%= link.url %></li>
  	<%= link_to "comments", link_path(link) %>  
  	
  	<%# Let a user know when they have voted for a link and whether %>
  	<%# they voted up or down by changing the "+/-" to a "*" and    %>
  	<%# making it not click-able. 									                %>
  	<% if current_user && current_user.votes.where(:link_id => link.id, :up => true).present? %>
      *
  	<% else %>
      <%= link_to "+", votes_path(:vote => {:link_id => link.id, :up => true}), :method => :post %>
  	<% end %>
  	<% if current_user && current_user.votes.where(:link_id => link.id, :up => false).present? %>
      *
  	<% else %>
      <%= link_to "-", votes_path(:vote => {:link_id => link.id, :up => false}), :method => :post %>
  	<% end %>

  	Up Votes: <%= link.votes.where(:up => true).count %>
    Down Votes: <%= link.votes.where(:up => false).count %>
    Votes Results: <%= link.votes.where(:up => true).count - link.votes.where(:up => false).count %>
  <% end %>
</ul>

<p><%= will_paginate @links %></p>
<%= link_to "Add a link", new_link_path %>